#sidebar {
    min-height: 100vh;
    width: 250px;
    background-color: #343a40;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
  }

  /* Content styling */
  #content {
    padding: 20px;
    padding-top: 100px;
    /* display: ruby-text; */
    margin-left: 230px;
    width: 80%;
  }

  /* Profile picture styling */
  .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  

  /* Navbar full width */
  .navbar {
    position: fixed;
    top: 0;
    width: 78%;
    left: 250px;
    z-index: 1000; /* Ensure navbar is above the sidebar */
  }

  .dashboard-li{
    cursor: pointer;
  }